.navbarcontainer{
    background-color: #023964;
    color:#fff!important ;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}
.page{
    font-size: x-large;
}
.navbar-nav{
    margin-top: 0;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: small;
}
.nav-item:hover{
    cursor: pointer;
}